/* .checkout-parent {
    display: flex;
}

.checkoutSession {
    width: 70%;
    height: auto !important;
    border-right: 1px solid black;
}

.price-session {
    width: 30%;
    height: auto !important;
    /* border: 1px solid black; */


/* .create-address {
    height: auto !important;
    border: none !important;
}

.checkout-parent {
    display: flex;
}

.checkout-image {
    width: 25%;
    border: none !important;
    display: flex;
    justify-content: center;

}

.checkout-image img {
    width: 50%;
}

.checkout-product-details {
    width: 50%;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-price {
    width: 25%;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button {
    padding: 5px 20px;
    margin-top: 10px;
    background-color: rgb(36, 36, 253);
    color: #fff;
    border: none;
}

.price-parent {
    margin: 5px 5px 5px 5px;
    border: none !important;
}

.price-of {
    display: flex;
}

.platfom-fee {
    display: flex;
}

.price-section-parent {
    height: auto;
    /* border: 100px solied rgb(200, 26, 26); */



/* .total-Payable {
    display: flex;
    font-weight: 700;
} */

.checkout-parent {
    display: flex;
    background-color: rgb(244, 248, 252);
}

.right-session {
    width: 65% !important;
    border: none;
    height: auto !important;
    border-right: 1px solid rgb(189, 187, 187);
}

.left-session {
    width: 35% !important;
    border: none;
    height: auto !important;

}

.checkout-address-session {
    width: 85% !important;
    background-color: #fff;
    margin-top: 20px !important;
    border: none !important;
    display: flex;
    /* flex-direction: column; */
    margin: auto;


}

.checkout-product-details {
    display: flex;
    /* margin-top: 30px !important; */
    width: 85% !important;
    margin: auto;
    background-color: #fff;
    border: none !important;
    border-bottom: 1px solid rgb(232, 228, 228) !important;
}

.checkout-product-details-img {
    width: 50%;

}

.checkout-product-details-img img {
    width: 70% !important;
    height: 150px !important;
}

.checkout-product-details-oth-de {
    width: 100%;
    margin-top: 50px !important;
}

.btn-session {
    display: flex !important;
}

.btn-session button {
    padding: 10px 60px;
    margin-left: auto !important;
    margin-right: 80px !important;
    margin-top: 30px !important;
    border: none;
    background-color: orangered;
    color: rgb(232, 228, 228);
    font-weight: 700;
}
.left-price-session{
    width: 85% !important;
    border:none !important;
    display: flex;
    flex-direction: column;
    margin: auto !important;
    margin-top: 100px !important;
    background-color: #fff;
}
.left-price-session-head{
    border-bottom: 1px solid rgb(219, 217, 217) !important;
}
.left-price-session-head-one{
    border-bottom: 1px solid rgb(207, 204, 204);
    height: 150px;
}