
.sub-session{
    width: 23%;
    background-color: rgb(244, 246, 248);
    height: 150px;
    margin-left: 20px;
}
.sub-session h5{
    color: blue;
    margin-top: 5px;
}
.sub-session-2{
    width: 50%;
}
.sub-session-2_1{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.sub-session-2_1 input{
    height: 45px;
    margin-top: 6px;
    width: 80%;
    margin-top: 15px;
    margin-left: 20px;
}
/* .message-parent{
    margin-top: 50px;
    display: flex;
} */