
.remove-icon {
  display: flex;


}

.remove-icon-sub {
  margin-left: auto !important;

}

.cart-parent {
  display: flex;
  align-items: center;

  justify-content: space-between;
  border-bottom: 1px solid rgb(210, 210, 210);
  height: 190px;
}

.cart-parent-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart-parent-cont img {
  margin-bottom: 25px;
  width: 80%;
}

.cart-buttons {
  display: flex;
  align-items: center;
  margin-top: 50px;

}

.cart-buttons-sub button {
  margin-right: 30px !important;
  padding: 5px 20px;
  background-color: orangered;
  color: #fff;
  border: none;
}