.payment-parent {
    display: flex;
    background-color: rgb(244, 248, 252);
}

.payment-right-session {
    width: 65% !important;
    border: none;
    height: auto !important;
    border-right: 1px solid rgb(189, 187, 187);
}

.payment-left-session {
    width: 35% !important;
    border: none;
    height: auto !important;
}

.payment-address-session {
    width: 85% !important;
    background-color: #fff;
    margin-top: 20px !important;
    border: none !important;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.payment-opt-head h3 {
    margin-left: 60px;
    margin-top: 20px;
    color: blue;
}

.payment-options {
    display: flex;
    flex-direction: column;

}

.payment-options-it {
    margin: auto;
    width: 85% !important;
    background-color: #fff;
    height: 50px;
    align-items: center;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc9c9;
    height: auto;
}

.payment-btn {
    display: flex;

}

.payment-btn button {
    padding: 10px 70px;
    margin: auto;
    margin-top: 100px;
    background-color: orangered;
    color: #fff;
    border: none;
}