.checkout-parent {
    height: auto !important;
}

.order-img img {
    width: 40% !important;
}

.order-title {
    display: flex;
}

.order-title h2 {
    margin: auto !important;
    align-items: center;
    justify-content: center;
}

.checkout-price {
    display: flex !important;
    margin-left: auto !important;
    height: auto !important;
}

.checkout-price p {
    align-items: center;
    justify-content: center;
}