.page-btn{
    background-color: #fff;
    color: black;
    font-weight: 500;
    margin: 5px;
    border: 1pa solid black;
}
.click-btn-page{
    background-color:black;
    color: #fff;
    font-weight: 500;
    margin: 5px;
    border: 1pa solid black;
}