.my-order {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    background-color: #fff;
    margin-top: 10px;
}

.my-order-sub {
    display: flex;
    margin: auto;
}

.profile-content {
    display: flex;
    flex-direction: column;

}

.profile-content-sub {
    display: flex;
    /* margin-left: 50px; */
    margin-top: 10px;

}

.profile-content-sub p {
    margin-top: 10px;
    font-weight: 700;

}

.profile-content-sub-1 {
    display: flex;
    flex-direction: column;
    /* margin-left: 40px; */
    margin-top: 5px;
}
.profile-content-logout{
     display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile-content-sub-1 p {
    margin-left: 20px;
    margin-top: 5px;

}


.user-page-parent {
    background-color: rgb(203, 201, 201);
    display: flex;
}

.user-page {
    width: 24% !important;
    height: auto;
    /* border: 1px solid black; */
    margin-left: 5px;
    background-color: rgb(252, 247, 247);
}

.addressd-page {
    min-height: 900px;
    max-height: 900px;
    overflow-y: auto;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin-left: 20px;
    background-color: rgb(252, 247, 247);
}



@media only screen and (max-width: 1142px) {
  .user-page {
    width: 30% !important;
  }
}
@media only screen and (max-width: 1034px) {
  .user-page {
    width: 40% !important;
  }
}
@media only screen and (max-width: 888px) {
  .user-page {
    width: 50% !important;
  }
}
@media only screen and (max-width: 666px) {
  .user-page {
    width: 60% !important;
  }
}
@media only screen and (max-width: 644px) {
  .user-page {
    width: 100% !important;
  }
  .user-page-parent{
    flex-direction: column;
  }
  .profile-content-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
}