.sub-sectionss {
    flex: 1 1 200px;
    max-width: 220px;
    text-align: center;

}

.featurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fdfcfc;
    padding: 2rem 1rem;
    gap: 1.5rem;
}


@media (max-width: 500px) {
  .sub-sectionss {
    max-width: 100%;
  }
}