.cato-btn{
    max-width: 160px;
    padding: 5px 5px;
    border: none;
    background-color: transparent;
    font-weight:600;
    margin-left:20px ;
    margin-right: 4px;
}
.cato-btn-focouse{
    max-width: 160px;
    padding: 5px 5px;
    border: none;
    background-color: black;
    color: #fff;
    font-weight:600;
    margin-left:20px ;
    margin-right: 4px;
    border-radius: 5px;
}
.catagory-parent{
    margin-right: 15px;
}
